In [4]:
import numpy as np
import pandas as pd

data = pd.read_csv("project1.csv")
data

   Airline   Status  Los Angeles  Phoenix  San Diego  San Francisco  Seattle
0   Alaska  on time          497      221        212            503     1841
1   Alaska  delayed           62       12         20            102      305
2  AM West  on time          694     4840        383            320      201
3  AM West  delayed          117      415         65            129       61

In [7]:
data['Totals'] = (data['Los Angeles'] + data['Phoenix'] + data['San Diego'] + data['San Francisco'] + data['Seattle'])
data

,Airline,Status,Los Angeles,Phoenix,San Diego,San Francisco,Seattle,Totals
0,Alaska,on time,497,221,212,503,1841,3274
1,Alaska,delayed,62,12,20,102,305,501
2,AM West,on time,694,4840,383,320,201,6438
3,AM West,delayed,117,415,65,129,61,787

In [13]:
Totals= (data['Totals'][0] + data['Totals'][1])
DPercentLA= (data['Los Angeles'][1] / data['Los Angeles'][0]*100) 
DPercentPh= (data['Phoenix'][1] / data['Phoenix'][0]*100) 
DPercentSD= (data['San Diego'][1] / data['San Diego'][0]*100) 
DPercentSF= (data['San Francisco'][1] / data['San Francisco'][0]*100) 
DPercentSe= (data['Seattle'][1] / data['Seattle'][0]*100) 
print ('The total amount of flights Alaska airline had is = {}'.format(Totals))
print ('Alaska airline in Los Angeles had a delay percentage of = {}%'.format(DPercentLA))
print ('Alaska airline in Phoenix had a delay percentage of = {}%'.format(DPercentPh))
print ('Alaska airline in San Diego had a delay percentage of = {}%'.format(DPercentSD))
print ('Alaska airline in San Francisco had a delay percentage of = {}%'.format(DPercentSF))
print ('Alaska airline in Seattle had a delay percentage of = {}%'.format(DPercentSe))

The total amount of flights Alaska airline had is = 3775
Alaska airline in Los Angeles had a delay percentage of = 12.474849094567404%
Alaska airline in Phoenix had a delay percentage of = 5.429864253393665%
Alaska airline in San Diego had a delay percentage of = 9.433962264150944%
Alaska airline in San Francisco had a delay percentage of = 20.278330019880716%
Alaska airline in Seattle had a delay percentage of = 16.56708310700706%

In [14]:
Totals= (data['Totals'][2] + data['Totals'][3])
DPercentLA= (data['Los Angeles'][3] / data['Los Angeles'][2]*100) 
DPercentPh= (data['Phoenix'][3] / data['Phoenix'][2]*100) 
DPercentSD= (data['San Diego'][3] / data['San Diego'][2]*100) 
DPercentSF= (data['San Francisco'][3] / data['San Francisco'][2]*100) 
DPercentSe= (data['Seattle'][3] / data['Seattle'][2]*100) 
print ('The total amount of flights AM West airline had is = {}'.format(Totals))
print ('AM West airline in Los Angeles had a delay percentage of = {}%'.format(DPercentLA))
print ('AM West airline in Phoenix had a delay percentage of = {}%'.format(DPercentPh))
print ('AM West airline in San Diego had a delay percentage of = {}%'.format(DPercentSD))
print ('AM West airline in San Francisco had a delay percentage of = {}%'.format(DPercentSF))
print ('AM West airline in Seattle had a delay percentage of = {}%'.format(DPercentSe))

The total amount of flights AM West airline had is = 7225
AM West airline in Los Angeles had a delay percentage of = 16.85878962536023%
AM West airline in Phoenix had a delay percentage of = 8.574380165289258%
AM West airline in San Diego had a delay percentage of = 16.971279373368144%
AM West airline in San Francisco had a delay percentage of = 40.3125%
AM West airline in Seattle had a delay percentage of = 30.34825870646766%